html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --baseFontSize: 1.1rem;
    --h1FontSize: 2rem;
    --h2FontSize: 1.5rem;    
}

body {
    font-size: var(--baseFontSize);
}

h1 {
    font-size: var(--h1FontSize);
    font-weight: bold;
}

h2 {
    font-size: var(--h2FontSize);
    font-weight: bold;
}

#content {
    background-color: bisque;
    width: 100vw;
    height: 100vh;
    display: flex;
}

#side-nav {
    background-color: lightblue;
    flex-grow: 0.1;
    display: flex;
    flex-direction: column;
}

#navigation {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

#navigation li {
    margin: 10px 0 10px;
    padding-left: 10px;
}

#navigation li:hover {
    font-weight: bold;
    cursor: pointer;
    border-left: 3px solid #3366FF;
    margin-left: -3px;
}

#search {
    padding-bottom: 15px;
}

#search input {
    width: 230px;
    height: 30px;
    border: 1px solid #3366FF;
    border-left: 4px solid #3366FF;
}

#projects {
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

#projects li {
    display: flex;
    align-items: center;
    margin: 5px 0px 5px 0px;
    padding-bottom: 5px;
}

#projects li:hover {
    font-weight: bold;
    cursor: pointer;
}

.circle-status {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    margin-right: 10px;
}

/* placeholder styling */
.fifty {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(-90deg, slategray 50%, transparent 50%);
}

.hundred {
    background-image: linear-gradient(90deg, slategray 50%, transparent 50%), linear-gradient(-90deg, slategray 50%, transparent 50%);
}

#add-project {
    padding: 10px;
}


#main-content {
    background-color: lightslategray;
    flex-grow: 2;
    display: flex;
    padding: 20px;
}

#main-todos {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project-title {
    margin-bottom: 15px;
}

.project-description {
    margin-bottom: 15px;
}

.project-todos {
    display: flex;
    flex-direction: column;
}

.task-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.task-todos {
    margin-left: 15px;
}

.done {
    text-decoration-line: line-through;
}

#main-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#add-todo-btn,
#edit-project-btn {
    background-color: yellowgreen;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.edit-task-btn {
    color: white;
    font-size: 30px;
    font-weight: bold;    
}

.modal {
    background-color: rgba(0, 0, 0, 0.21);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    overflow:hidden;
}

.modal-content-header {
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.modal-content-body {
    padding: 1.5rem;
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;   
}